<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the Django Course Home Page. Learn Django step by step.">
    <meta name="keywords" content="Django, Python, Web Development, Course, Tutorial">
    <title>Home - Django Course</title>
   <style> 
    table, th, td {
  border: 1px solid black;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
</style>
</head>
<body>
    <h1>This is how you can contact us</h1>
  

 
</body>
</html>