<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the Django Course Home Page. Learn Django step by step.">
    <meta name="keywords" content="Django, Python, Web Development, Course, Tutorial">
    <title>Home - Django Course</title>
   <style> 
    table, th, td {
  border: 1px solid black;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
</style>
</head>
<body>
    <h1>Welcome to the Django Course Home Page</h1>
  

    <table class="container">
       
  <tr>
    <th>Sno.</th>
    <th>Name</th>
    <th>Age</th>
    <th>CanVote</th>
  </tr>
     
  {% for people in peoples %}
   <tr>
    <td> {{ forloop.counter }}</td>
    <td> {{ people.name }} </td>
    <td> {{ people.Age }} </td>
    <td {% if people.Age >= 28 %} style="background:green"  {% else %} style="background:red" {% endif %} >
    {% if people.Age >= 28 %}
    OK
    {% else %}
    Not OK
    {% endif %}
  </td>
  </tr>
 
   {% endfor %}
</table>

</body>
</html>